@page
@model BusManagement.NotfoundModel
@{
    ViewData["Title"] = "Notfound";
}

<h2>The resource you are looking for cannot be found</h2>
<a asp-page="/Employees/Index" class="btn btn-primary">
    Click Here To Get Back To Home
</a>

